body {
  background-color: #eee;
}
.wrapperNew {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 3em;
  margin: 1em;
  overflow: hidden;
  margin-top: 40px;
  padding-top: 30px;

  /* position:absolute; */

  /* top:0px;
  bottom:0px;
  width:100%;
  height:100%; */

  /* Using flexbox */
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap; */
  /* justify-content: center;
  align-content: stretch;
  align-items: center; */
  /*----*/

  /* color: #333;
background: #419be0; */

  /* grid-template-columns:1fr 1fr 1fr;*/
  /* grid-gap: 2em; */
  /* grid-auto-rows:100px; */
  /* grid-column-gap:1em;
  grid-row-gap:1em; */
  /* grid-auto-rows: minmax(100px, auto); */
  /* padding:1em; */
}

.wrapper > img {
  image-rendering: left;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.wrapper > div {
  /* background: #eee; */
  /* padding:1em; */
}
.wrapper > div:nth-child(odd) {
  /* background: #ddd; */
}

.KegCard {
  width: 260px;
  height: 310px; /* 285 is ideal   */
  background-color: #fff;
  /* border: 2px lightgrey solid; */
  /* border-radius: 5px; */
  /* box-shadow: 3px 3px 3px 0 lightgrey; */
  /* margin-bottom: 40px;
  margin-top: 40px;
  padding: 40px, 40px, 40px, 40px; */
  /* justify-content: space-between; */
  /* row-gap: 20px;
  grid-column-gap: 20px;
	grid-row-gap: 20px; */
}

#card-list {
  /* display: flex;
  flex-flow: row wrap;  
  flex-basis: auto;
  /* row-gap: 20px; */
  /* grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-gap: 200px; */
  /* padding: 0, 0, 20px, 0;
  margin: 20px; */
  /* justify-items: center; */
}

.card {
  /* display: flex;
  flex-wrap: wrap; */
  /* margin-left: 8;
    margin-top: 8; */
  /* align-items: left;
  padding: 0, 0, 20px, 0;
  margin: 20px;
  row-gap: 20px; */
  /* grid-column-gap: 20px;
	grid-row-gap: 20px; */
}

.vroomColor {
  font-family: "Segoe UI";
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.coralColor {
  color: coral;
  font-weight: 400;
  /* margin: auto;
  padding: auto; */
  text-align: left; /* critical */
}

p {
  font-family: "Segoe UI";
  font-weight: 600;
  /* padding-left: 12px; */
  margin-top: 1px;
  padding-bottom: 3px;
  margin-bottom: 3px;
}

.moreWeight {
  font-family: "Segoe UI";
  font-weight: 600;
  padding-left: 8px;
}

.signIn {
  font-family: "Segoe UI";
  font-weight: 100;
  padding-left: 8px;
}

.lessWeight {
  font-family: "Segoe UI";
  font-weight: 100;
  padding-left: 8px;
}

h1 {
  font-family: "Segoe UI";
  color: #5c5c5c;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  margin-bottom: 50px;
}

h3 {
  font-family: "Segoe UI";
  color: #5c5c5c;
  font-weight: 3000;
  text-align: center;
  margin-bottom: 10px;
  margin-bottom: 10px;
}

.black {
  color: #5c5c5c;
  /* align-self: flex-end; */
  text-align: center;
}

.divAlign {
  /* display: flex;
  flex-direction: column; */
}

.divAlign1 {
  /* flex: 1; */
}

.divAlign1 p {
  /* flex: 1; */
}

.buttonWidth {
  flex: 1;
}

.buttonWidth button {
  /* flex: 1; */
  min-width: 100%;
  font-family: "Segoe UI";
  font-weight: 700;
  display: block;
  width: 100%;
  /* align-items: flex-end; */
}

.buttonPrimary {
  font-family: "Segoe UI";
  font-weight: 3000;
  align-items: center;
  margin-left: 45%; /*USEFUL: Aligns button to centre  */
}

.redColor {
  color: #ff0000;
  font-weight: bold;
  font-size: large;
}

.purpleColor {
  color: purple;
  font-weight: bold;
  font-size: large;
}

.kegDetail {
  /* font-family: "Indie Flower", cursive;
  text-align: left;
  font-weight: 700;
  display: flex;
  /* flex-direction: column; */
  /* width: 700px;
  height: 900px; */
  /* border: 2px lightgrey solid; */
  border-radius: 5px;
  /* box-shadow: 3px 3px 3px 0 lightgrey; */
  margin: 10px auto 10 auto;
  /* align-items: left;
  justify-content: center;
  padding: 0, 0, 20px, 0; */
}

.kegDetailButton {
  /* display: flex; */
  /* flex-direction: row; */
  margin: 0px 0px 0px 0px;
  margin-right: 10px;
  margin-left: 10px;
  /* justify-content: space-between; combined with "flex-basis: 40%;" in child creates gap between buttons */
}

.kegDetailButton button {
  /* flex-basis: 40%; */
}

.reUsableKegForm {
  font-family: "Segoe UI";
  text-align: left;
  font-weight: 700;
  /* display: flex; */
  /* flex-direction: column; */
  width: 700px;
  height: 400px;
  border: 2px lightgrey solid;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0 lightgrey;
  margin: 10px auto 10 auto;
  align-items: left;
  justify-content: center;
  padding: 5px;
  /* display: flex; */
  align-items: left;
  justify-content: stretch;
}

.reUsableKegForm input {
  /* display: flex; */
  /* flex-direction: row; */
  margin: 0px 0px 0px 0px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  justify-content: space-between;
}

.reUsableKegForm button {
  /* flex-basis: 40%; */
  /* flex: 1; */
  margin-top: 10px;
  margin-left: 10px;
}

.reUsableKegForm h3 {
  font-family: "Segoe UI";
  color: coral;
  font-weight: 700;
  margin: auto;
  padding: auto;
  text-align: center; /* critical */
  font-weight: 3000;
  margin-bottom: 10px;
}

.navBar {
  -webkit-tap-highlight-color: transparent;
  font-family: "Calibre-Regular";
  font-size: 16px;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  color: #e7131a;
  fill: rgb(4, 16, 34);
  box-sizing: inherit;
  margin-right: 30px;
  height: 18px;
  width: 104.4px;
  overflow: hidden;
  margin: 0;
  background-color: #f5f5f5;
}

.image {
  max-height: 480px;
  /* height: calc(50vh - 100px); 
   height: calc(50vh - 100px); */
  width: 640px; /* window is fixed so increating this does not have an effect */
  /* margin: 0 auto;  */
  image-orientation: auto;
}
.enlarged {
  max-height: none;
}

.centerScreen {
  display: flex;
  justify-content: center;
  width: 1050;
  /* background-color: black; */ 
}

.navBarRed {
  font-family: "Segoe UI";
  /* font-weight: 100; */
  color: #e7131a;
}

.footer {
  display: grid;
  position: absolute;
  width: 100vw; 
  grid-column-start: 0; 
  grid-column-end: 0; 
  grid-template-columns: 1fr 0px;
  left: 0px;   /* //effective */
  padding-left: 0px;
  background-color: rgb(0, 0, 0);
  color: rgb(153, 157, 163);
}

.footerApp {
  position:absolute; 
}
.footerAlt {
  /* position:absolute; */
  /* background-color:#d6d7da; */
  font-size: 14px;
  padding-right: 0px;
  padding-left: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
}
/* 
body > footer {
  margin: 0px;
  padding: 0px;
  min-width: 100%;
  max-width: 100%;
  background: #ffffff;
  height: auto;
} */

.padding {
  padding: 10px;
  /* margin: 20px; */
}

.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
}

.lotsOfMargin {
  margin-bottom: 205px;
}
