body {
  background-color: #eee;
}
.wrapper {
  display: grid;
  /* grid-template-columns:1fr 1fr 1fr;*/
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap:0.1em;
  grid-row-gap:1em;
  /* grid-gap: 2em; */
  /* grid-auto-rows:100px; */
  /*
  grid-column-gap:1em;
  grid-row-gap:1em;
  */
  /* grid-auto-rows: minmax(100px, auto); */
  /* padding:1em; */
  margin: 1em;
}

.wrapper > img {
  image-rendering: left;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.wrapper > div {
  /* background: #eee; */
  /* padding:1em; */
}
.wrapper > div:nth-child(odd) {
  /* background: #ddd; */
}

.KegCard {
  width: 260px;
  height: 445px;   /* 285 is ideal   */
  background-color: #fff;
  /* border: 2px lightgrey solid; */
  /* border-radius: 5px; */
  /* box-shadow: 3px 3px 3px 0 lightgrey; */
  /* margin-bottom: 40px;
  margin-top: 40px;
  padding: 40px, 40px, 40px, 40px; */
  /* justify-content: space-between; */
  /* row-gap: 20px;
  grid-column-gap: 20px;
	grid-row-gap: 20px; */
}

#card-list {
  /* display: flex;
  flex-flow: row wrap;  
  flex-basis: auto;
  /* row-gap: 20px; */
  /* grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-gap: 200px; */
  /* padding: 0, 0, 20px, 0;
  margin: 20px; */
  /* justify-items: center; */
}

.card {
  /* display: flex;
  flex-wrap: wrap; */
  /* margin-left: 8;
    margin-top: 8; */
  /* align-items: left;
  padding: 0, 0, 20px, 0;
  margin: 20px;
  row-gap: 20px; */
  /* grid-column-gap: 20px;
	grid-row-gap: 20px; */
}

.vroomColor {
  font-family: "Calibre-Semibold";
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.coralColor {
  color: coral;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  /* margin: auto;
  padding: auto; */
  text-align: left; /* critical */
}

p {
  font-family: "Calibre-Semibold";
  font-weight: 600;
  /* padding-left: 12px; */
  margin-top: 1px;
  padding-bottom: 3px;
  margin-bottom: 3px;
 
}

.moreWeight {
  font-family: "Calibre-Semibold";
 font-weight: 600;
 padding-left: 8px;
}
.lessWeight {
   font-family: "Calibre-Semibold";
  font-weight: 100;
  padding-left: 8px;
}

h1 {
  font-family: "Indie Flower", cursive;
  color: #5c5c5c;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  margin-bottom: 50px;
}

h3 {
  font-family: "Indie Flower", cursive;
  color: #5c5c5c;
  font-weight: 3000;
  text-align: center;
  margin-bottom: 10px;
  margin-bottom: 10px;
}

.black {
  color: #5c5c5c;
  align-self: flex-end;
  text-align: center;
}

.divAlign {
  /* display: flex;
  flex-direction: column; */
}

.divAlign1 {
  flex: 1;
}

.divAlign1 p {
  flex: 1;
}

.buttonWidth {
  flex: 1;
}

.buttonWidth button {
  flex: 1;
  min-width: 100%;
  font-family: "Indie Flower", cursive;
  font-weight: 700;
  display: block;
  width: 100%;
  align-items: flex-end;
}

.buttonPrimary {
  font-family: "Indie Flower", cursive;
  font-weight: 3000;
  align-items: center;
  margin-left: 45%; /*USEFUL: Aligns button to centre  */
}

.redColor {
  color: #ff0000;
  font-weight: bold;
  font-size: large;
}

.purpleColor {
  color: purple;
  font-weight: bold;
  font-size: large;
}

.kegDetail {
  font-family: "Indie Flower", cursive;
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 400px;
  border: 2px lightgrey solid;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0 lightgrey;
  margin: 10px auto 10 auto;
  align-items: left;
  justify-content: center;
  padding: 0, 0, 20px, 0;
}

.kegDetailButton {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 0px;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: space-between; /* combined with "flex-basis: 40%;" in child creates gap between buttons */
}

.kegDetailButton button {
  flex-basis: 40%;
}

.reUsableKegForm {
  font-family: "Indie Flower", cursive;
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 400px;
  border: 2px lightgrey solid;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0 lightgrey;
  margin: 10px auto 10 auto;
  align-items: left;
  justify-content: center;
  padding: 5px;
  display: flex;
  align-items: left;
  justify-content: stretch;
}

.reUsableKegForm input {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 0px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  justify-content: space-between;
}

.reUsableKegForm button {
  flex-basis: 40%;
  flex: 1;
  margin-top: 10px;
  margin-left: 10px;
}

.reUsableKegForm h3 {
  font-family: "Indie Flower", cursive;
  color: coral;
  font-weight: 700;
  margin: auto;
  padding: auto;
  text-align: center; /* critical */
  font-weight: 3000;
  margin-bottom: 10px;
}
